.caroselavetar {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.caroselBoxShado {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.slider {
  height: 490px;
  position: relative;
  width: 100%;
  display: grid;
  place-content: center;
  overflow-x: hidden;
}

.slidertrack {
 
  display: flex; 
   width: calc(390px * 15); 
  animation: scroll 40s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-390px * 5));
  }
}
.slidertrack:hover{
    animation-play-state: paused;
}
.slide {
  margin: 20px;
  width: 390px;
  align-items: center;
}

/* generating shaddo bot */

/* infinite scrolle */

